body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

p {
    text-align: justify;
}

#dialog {
    display: none;
}

#summary {
    .well {
        padding: 0px;
    }

    h2 {
        border-bottom: 1px solid #EEEEEE;
        padding: 9px 15px;
    }

    ul {
        padding: 5px;
        margin-top: 9px;
    }
}

.well {
    margin-top: 20px;
}

