body {
    max-width: 1060px;
    margin: 0 auto;
}

p {
    text-align: justify;
}

#dialog {
    display: none;
}

#summary ul {
    margin-top: 9px;
    font-size: 16px;
}

.footer {
    border-top: 1px solid #E5E5E5;
    margin-top: 18px;
    padding: 35px 0 36px;
}

